
		img{width: 500px; height: 700px; border-radius:5px;  padding-right: 20px;}
		b{font-family: Times New Roman; font-size: 50px; }
		i{font-family: Times New Roman; font-size: 20px }
		td{font-family: Times New Roman; font-size: 20px;}
		input{height: 40px; width: 150px; border-radius: 5px;}
		body{background-image: url("WhatsApp Image 2023-10-26 at 19.29.28_e9f63de9.jpg");background-size:1540px 1500px; background-repeat:no-repeat; }